// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$primary: #9561e2;

.footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}

@media (min-width: 768px) {
  .align-btn-home {
    text-align: left;
  }
  .align-menu-text {
    text-align: center;
  }
  .align-btn-new{
    text-align: end;
  }
  .main-container .card{
    position: sticky;
  }
  .main-container{
    margin-bottom: 10%;
  }
}

@media (max-width: 768px) {
  .align-btn-home {
    text-align: center;
  }
  .align-menu-text {
    text-align: center;
  }
  .align-btn-new{
    text-align: center;
  }
  .main-container{
    margin-bottom: 30%;
  }
  .main-container .card{
    position: sticky;
  }

}